<div class="row">
	<div class="col-xs-2">
		<include file="Base/_left_nav" />
	</div>
	<div class="col-xs-10">
		<include file="_toolbar" />

		<div class="guide-box">
			<form action="{:U('create')}" method="post" class="form-horizontal">
				<input type="hidden" name="kind" value="1" />

				<div class="form-group">
					<label class="col-sm-2 control-label">标识:</label>
					<div class="col-sm-10">
						<input type="text" name="mark" class="form-control" />
						<p class="red">标识必须唯一,且只支持字母或下划线</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">名称:</label>
					<div class="col-sm-10">
						<input type="text" name="name" class="form-control" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">内容:</label>
					<div class="col-sm-10">
						<textarea name="content" class="form-control"></textarea>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">备注:</label>
					<div class="col-sm-10">
						<textarea name="remarks" class="form-control"></textarea>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">宽:</label>
					<div class="col-sm-10">
						<input type="text" name="width" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">高:</label>
					<div class="col-sm-10">
						<input type="text" name="height" class="form-control" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">状态:</label>
					<div class="col-sm-10">
						<input type="radio" class="" class="" name="state" value="0" />禁用<span class="m-10"></span>
						<input type="radio" class="" class="" name="state" value="1" checked />正常
					</div>
				</div>


				  <div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
					  <a href="{:U('index')}" class="btn btn-default">取消</a>
					  <button type="submit" class="btn btn-primary">保存</button>
					</div>
				  </div>
		  </form>
		</div>
	</div>
</div>
