<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-compatible" content="IE=edge,chrome=1" />
	  <title>{$page_title|page_title}</title>
		<!-- 最新 Bootstrap 核心 CSS 文件 -->
		<!--<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">-->
	  <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet" />
	  <link href="__PUBLIC__/css/custom.css" rel="stylesheet" />
	  <link href="__PUBLIC__/css/shijia.css" rel="stylesheet" />

	  <script src="__PUBLIC__/js/jquery_1.10.2.js"></script>
	  <script src="__PUBLIC__/js/bootstrap.min.js"></script>
	  <script src="__PUBLIC__/js/base.js"></script>
	  <script src="__PUBLIC__/js/admin_base.js"></script>
	  <script src="__PUBLIC__/plug/bootstrap-hover-dropdown.min.js"></script>

	  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	  <!--<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>-->
		<script type="text/javascript">
			<!--
			$(function(){
			  //初始化
			  sj.initial();
			  sj.admin_select();
			});
			//-->

		</script>
	</head>
	<body>
		<!--最外侧div框-->
		<div class="sj-w">
			<!--最上面横条-->
			<div class="sj-wtop"></div>
			<!--居中内容区container-->
			<div class="container plr-25 bg-w">
				<include file="./App/Home/View/Base/header.html" />
			    <!--主体-->
				<div class="clearfix pt-20">
					{__CONTENT__}
				</div>

			</div>
			<include file="./App/Home/View/Base/footer.html" />
		</div>
		<!--最外侧div框结束^-->
  </body>
</html>


