<!--页脚-->
<footer class="sj-footer">
	<div class="container p-0 sj-footer-nav border-bottom">
		<a href="{:U('home/help/institution')}" class="sj-f-nav-a">组织机构</a>
		<a href="{:U('home/help/map')}" class="sj-f-nav-a">网站地图</a>
		<a href="{:U('home/help/year')}" class="sj-f-nav-a">十佳年鉴</a>
		<a href="{:U('home/help/job')}" class="sj-f-nav-a border-r-0">工作机会</a>
	</div>
	<div class="container p-0 sj-footer-p">
		<p>Copyright © 2001-2013 Shijue.me Incorporated. All rights reserved.  京ICP备05013163号-2北京市公安局朝阳分局:京公网安备11010502024207 <br>最佳分辨率1280*800，建议使用Chrome、Firefox、Safari、ie9版本浏览器。
		</p>
	</div>
</footer>
<!--页脚结束-->
