<script type="text/javascript">
	$(function(){
		$('#myCarousel').carousel({
			interval: 5000
		})
		$('#myCarousel1').carousel({
			interval: false
		})
		$('#myCarousel2').carousel({
			interval: false
		})
		$('#myCarousel3').carousel({
			interval: 4000
		})
	})

</script>
<!--局部内容-->
<div class="clearfix pt-40">
	<!--局部左侧内容-->
	<div class="span-left mr-30">
		<h4 class="c-hong m-0 mb-10 pb-5 fw-700 body-font fs-15">领导寄语</h4>
		<!--lunbo内容-->
		<div id="myCarousel" class="carousel slide mb-30">
			<div class="carousel-inner">
				<volist name=":leader_wish('all')" id="vo" key="k" empty="暂时没有数据" >
					<if condition="$k eq 1 ">
						<div class="active item leader_pic_div">
					<else />
						<div class="item leader_pic_div">
					</if>
						<a href="{:U('rater/wish', array('mark'=>$vo['mark']))}" target="_blank" class="leader-pic-a"><img src="__PUBLIC__/images/{$vo['avatar']}" style="width:175px;height:200px;" alt="{$vo['name']}"></a>
						<div class="carousel-caption">
							<h5 class="body-font" style="margin:0px;margin-bottom:5px;">{$vo['name']}</h5>
							<p>{$vo['position']}</p>
						</div>
					</div>
				</volist>
			</div>
		</div>
		<!--lunbo内容end-->

		<!--TV内容-->
		<notempty name="prize_video">
			<div class="sj-index-tv">
				<a href="{:U('index/prize_video', array('mark'=>'index_prize_video'))}" target="_blank">
					<span class="sj-index-tv-span">
						<img src="{$prize_video[2]}" style="width:175px;height:145px;" alt="">
						
					</span>
					<p class="carousel-caption bg-hui" style="height:30px;">{$prize_video[1]} <span class="ml-10 player-span"></span></p>
				</a>
			</div>
		</notempty>
		<!--TV内容end-->
	</div>
	<!--局部居中内容-->
	<div class="span-center mr-30">
		<div class="sj-lunbo">
			<!--lunbo内容-->
			<div id="myCarousel3" class="carousel slide">
				<div class="carousel-inner">
					<volist name="index_news_slide" id="vo" key="k" empty="暂时没有数据" >
						<if condition="$k eq 1 ">
							<div class="active item">
						<else />
							<div class="item">
						</if>
						<if condition="isset($vo['asset'])">
						<a href="{$vo['address']}" target="_blank"><img src="__UPLOAD__{:$vo['asset']['file_path'].$vo['asset']['file_name']}" style="width:480px;height:230px;display:block;" title="{$vo['title']}" alt="{$vo['title']}"/>
							<div class="carousel-caption sj-lunbotext">
								<p class="m-0">{$vo['title']}</p>
							</div>
						</a>
						</if>	
						</div>
					</volist>
				</div>
				<a class="carousel-control left" href="#myCarousel3" data-slide="prev">
				</a>
				<a class="carousel-control right" href="#myCarousel3" data-slide="next">
				</a>
			</div>
			<!--lunbo内容end-->
			<div class="sj-bor-bott"></div>
			<!--news内容-->
			<div class="sj-index-news">
				<ul>
					<volist name="posts" id="v">
						<li class="sj-news">
							<a href="{:post_url($v['id'], $v['kind'])}" class="c-hui" target="_blank">
								<span class="sj-news-w">【{$v.category.name}】&nbsp;{$v.title|msubstr=###,0,35,'utf-8',true}</span>
								<span class="sj-news-time">{$v.created_on|date='Y-m-d', ###}</span>
							</a>
						</li>
					</volist>
				</ul>
			</div>
			<!--news内容end-->
		</div>
	</div>
	<!--局部右侧内容-->
	<div class="span-right">
		<!--报名内容-->
		<div class="an-niu clearfix">
			<a href="{:U('home/material/sort')}" class="sj-an-tou mr-9"></a>
			<a href="{:U('home/rater/index')}" class="sj-an-pw"></a>
		</div>
		<!--报名内容end-->
		<div class="sj-bor-bott"></div>
		<!--lunbo内容-->
		<div id="myCarousel1" class="carousel slide mb-30">
			<div class="carousel-inner">
				<volist name="person_prize_slide" id="vo" key="k" empty="暂时没有数据" >
					<if condition="$k eq 1 ">
						<div class="active item">
					<else />
						<div class="item">
					</if>
					<if condition="isset($vo['asset'])">
					<a href="{$vo['address']}" target="_blank"><img src="__UPLOAD__{:$vo['asset']['file_path'].$vo['asset']['file_name']}" style="width:195px;height:135px;" title="{$vo['title']}" alt="{$vo['title']}"/></a>
						<div class="carousel-caption bg-hui">
							<p>{$vo['title']}</p>
						</div>
					</if>	
					</div>
				</volist>
			</div>
		</div>
		<!--lunbo内容end-->
		<!--lunbo内容-->
		<div id="myCarousel2" class="carousel slide">
			<div class="carousel-inner">
				<volist name="company_prize_slide" id="vo" key="k" empty="暂时没有数据" >
					<if condition="$k eq 1 ">
						<div class="active item">
					<else />
						<div class="item">
					</if>
					<if condition="isset($vo['asset'])">
						<a href="{$vo['address']}" target="_blank"><img src="__UPLOAD__{:$vo['asset']['file_path'].$vo['asset']['file_name']}" style="width:195px;height:135px;" title="{$vo['title']}" alt="{$vo['title']}"/></a>
						<div class="carousel-caption bg-hui">
							<p>{$vo['title']}</p>
						</div>
					</if>	
					</div>
				</volist>
			</div>
		</div>
		<!--lunbo内容end-->
	</div>
</div>
<!--局部内容结束-->
<div class="sj-bor-bott bor-c-hong"></div>
<!--友情链接-->
	<include file="Base/friendly_link" />
<!--友情链接结束-->

