<script style="text/javascript">
	//删除方法单个
	function ajax_drop() {
		var ids = $(this).attr('val');
		var url = "{:U('drop')}";
		if(!confirm('确认执行这个操作吗?')){
			return false;
		}
		sj.ajax_delete(url, ids, 'rater', 1);
	}

	//删除多个
	function ajax_drop_multiple() {
		var ids = sj.ckbox_record("input:checkbox[name='checkbox']");
		if(ids != ''){
			if(!confirm("确定要删除选中的内容吗？")){
				return false;
			}
			var url = "{:U('drop')}";
			sj.ajax_delete(url, ids, 'rater', 1);
		}else{
			alert("请选择要删除的内容！");
		}
	}

	//显示评委列表
	function show_raters_box(){
		var m_id = $(this).attr('m_id');
		var box = $(this).next();
		if(box.is(':hidden')) {
			box.show();
		}else{
			box.hide();
		}
	}

	//关闭查看详情box
	function close_btn(){
	    $(this).parent().hide();
	}

</script>

<div class="row">
	<div class="col-xs-2">
		<include file="Base/_left_nav" />
	</div>
	<div class="col-xs-10">
		<include file="_toolbar" />

		<div class="guide-box">
			<include file="Base/_select_box" />
			<div class="right_operation clearfix">
				<div class="operate_box clearfix">
					<a href="{:U('add')}">+新建</a>
					<a href="#ajax_drop_multiple" class="ajax-hash">删除</a>
					<!--<a href="{:U('export', array('year'=>$year, 'prize_id'=>$prize_id, 'state'=>$state, 'order'=>$order, 'type'=>2))}" class="">导出</a>-->
				</div>
			</div>
			
			<table class="table table-striped">
			  <thead>
				<tr>
				  <th></th>
				  <th>ID:</th>
				  <th>姓名:</th>
				  <th>头像:</th>
				  <th>所属用户:</th>
				  <th>年份:</th>
				  <th>奖项组(ID):</th>
				  <th>评审名单:</th>
				  <th>投票数:</th>
				  <th>状态:</th>
				  <th>创建时间:</th>
				  <th>操作:</th>
				</tr>
			  </thead>
			  <tbody id="user_list">
				<foreach name='raters' key='k' item='v'>
					<tr id="rater_box_{$v.id}">
					  <td><input type="checkbox" name="checkbox" value="{$v.id}"></td>
					  <td>{$v.id}</td>
					  <td><a href="#">{$v.name|msubstr=###,0,12,'utf-8',true}</a></td>
					  <td>
						<if condition="empty($v['asset'])">
						  无
						<else />
						  <img src="__UPLOAD__{:$v['asset']['file_path'].$v['asset']['file_name']}" width="120" />
						</if>
					  </td>
					  <td>{$v.user.nickname}</td>
					  <td>{$v.year}</td>
					  <td>
						<if condition="empty($prize_id)">
							<php>$arr = explode(',', $v['prize_ids']);</php>
							<foreach name="arr" item="p" >
								{$p|prize_name}<br />
							</foreach>
						<else />
							{$prize_id|prize_name}
						</if>

					  </td>
					  <td style="position:relative">
						  <a href="#show_raters_box" class="ajax-hash" m_id="{$v.id}">查看</a>
						  <div class="hide-js" style="width:400px;background-color:#ccc;padding:5px;position:absolute;right:60px;top:30px;border:1px solid;z-index:100;padding: 10px 5px;">
						      <a href="#close_btn" class="close ajax-hash" aria-hidden="true">&times;</a>
							<php>$arr = json_decode($v['material_ids'], true)</php>
							<php>$material = D('Material');</php>
							<foreach name="arr" item="vo" key="k" >
								奖项 : {$k|prize_name}<br />
								<php>$m_arr = explode(',', $vo['m_ids']);</php>

								已评选:
								<volist name="m_arr" id="m" >
									<php>$obj = $material->find($m);</php>
									{$obj['name']} &nbsp;&nbsp;
								</volist>
								<br />
								状态: {$vo['state']==1 ? '提交' : '保存'}

								<br /><br />
							</foreach>
						  </div>
					  </td>
					  <php>
						  $map = array();
						  $map['rid'] = $v['id'];
						  if(!empty($prize_id)){
							$map['pid'] = $prize_id;
						  }
						  $rm = $rater_material->where($map)->select();  
					  </php>
					  <td>{$rm|count}</td>
					  <td>
						  <if condition="empty($prize_id)">

						  <else />
							  <php>$prize_arr = explode(',', $v['prize_ids']);</php>
							  <if condition="(in_array($prize_id, $prize_arr))">
								<php>$arr[$prize_id]</php>
								<if condition="empty($arr[$prize_id])">
									保存
								<else />
									{$arr[$prize_id]['state']==1 ? '提交' : '保存'}
								</if>
							  </if>
						  </if>
					  </td>
					  <td>{$v['created_on']|date='Y-m-d', ###}<br />{$v['updated_on']|date='Y-m-d', ###}</td>
					  <td><a href="{:U('export', array('id'=>$v['id'], 'type'=>1))}">导出</a> | <a href="{:U('edit', array('id'=>$v['id']))}">编辑</a> | <a href="#ajax_drop" class="ajax-hash" val="{$v['id']}">删除</a></td>
					</tr>
				</foreach>
			  </tbody>
			</table>
			<div>
				<ul class="pagination">{$page}</ul>
			</div>
		</div>
	</div>
</div>
