<!--上传-->
<script src="__PUBLIC__/plug/jquery.jUploader-1.01.js"></script>
<script type="text/javascript">
	// 全局配置（这样就不必每次初始化时都加上下面的设置）
	$.jUploader.setDefaults({
		cancelable: true, // 可取消上传
		allowedExtensions: ['jpg', 'jpeg', 'png', 'gif'], // 只允许上传图片
		messages: {
			upload: '上传封面',
			cancel: '取消',
			emptyFile: "{ file } 为空，请选择一个文件.",
			invalidExtension: "{file} 后缀名不合法. 只有 {extensions} 是允许的.",
			onLeave: "文件正在上传，如果你现在离开，上传将会被取消。"
		}
	});

	$(function(){

		$.jUploader({
			button: 'upload_cover', // 这里设置按钮id
			action: '{:U('Home/Upload/save_cover', array('id'=>$column['id'], type=>'Column'))}', // 这里设置上传处理接口
			// 开始上传事件
			onUpload: function (fileName) {
				$('#tip').text('正在上传 ' + fileName + ' ...');
			},

			// 上传完成事件
			onComplete: function (fileName, response) {
				if(response.state)
				{
					$('#tip').text(fileName + ' 上传成功。');
					//记录封面id
					$("input[name='cover_id']").val(response.asset_id);
					var url = response.result.savepath + response.result.savename;
					$('#show_cover').html('<img src="__UPLOAD__'+ url +'" width="120" />');
				}else{
					$('#tip').text(response.info);
					$('#show_cover').html('');
				}
			},
			// 取消上传事件
			onCancel: function (fileName) {
				$('#tip').text(fileName + ' 上传取消。');
			},
			// 系统信息显示（例如后缀名不合法）
			showMessage: function (message) {
				$('#tip').text(message);
			}
		});

		//ajax选择栏目位动态调出宽高
		$('#ajax_show_size').change(function(){
			var sid = $(this).val();
			var url = "{:U('ajax_show_size')}";
			$.get(url, {sid: sid, type: 1}, function(data){
				$('#show_size_box').html(data);
			});
		});

	})
</script>

<div class="row">
	<div class="col-xs-2">
		<include file="Base/_left_nav" />
	</div>
	<div class="col-xs-10">

		<div class="list-group clearfix">
		<include file="_toolbar" />

		<div class="guide-box">
			<form action="{:U('update')}" method="post" class="form-horizontal">
				<input type="hidden" name="id" value="{$column['id']}" />
				<input type="hidden" name="cover_id" value="{$column['cover_id']}" />
				<input type="hidden" name="old_cover_id" value="{$column['cover_id']}" />

				<div class="form-group">
					<label class="col-sm-2 control-label">栏目位:</label>
					<div class="col-sm-10">
						<select name="column_space_id" id="ajax_show_size" class="form-control">
							<volist name=":space_options(1)" id="space">
								<option value="{$space.id}" {$column['column_space_id']==$space['id'] ? 'selected' : ''}>{$space.name}</option>
							</volist>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">标题:</label>
					<div class="col-sm-10">
						<input type="text" name="title" class="form-control" value="{$column.title}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">网址:</label>
					<div class="col-sm-10">
						<input type="text" name="address" class="form-control" value="{$column.address}" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">封面:</label>
					<div class="col-sm-10">
						<div id="upload_cover" class="btn btn-success">
							<span></span>
						</div> <!-- div里的span必须保留，用来放文字的 -->
				        <p>
							<span id="tip" class="help-block">请选择图片</span>
						</p>
						<p id="show_size_box" class="red">
							<notempty name="column['column_space']">
								图片比例: {$column.column_space.width}x{$column.column_space.height}
							</notempty>
						</p>
						
						<!--显示封面区域-->
						<div id="show_cover">
						<if condition="isset($column['asset'])">
						  <img src="__UPLOAD__{:$column['asset']['file_path'].$column['asset']['file_name']}" width="120" />
						<else />
						  无
						</if>	
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">内容:</label>
					<div class="col-sm-10">
						<textarea name="content" class="form-control">{$column.content}</textarea>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">备注:</label>
					<div class="col-sm-10">
						<textarea name="remarks" class="form-control">{$column.remarks}</textarea>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">排序:</label>
					<div class="col-sm-10">
						<input type="text" name="sort" class="form-control" value="{$column.sort}" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">状态:</label>
					<div class="col-sm-10">
						<input type="radio" class="" class="" name="state" value="0" {$column['state']==0 ? 'checked' : ''} />禁用<span class="m-10"></span>
						<input type="radio" class="" class="" name="state" value="1" {$column['state']==1 ? 'checked' : ''} />正常
					</div>
				</div>


				  <div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
					  <a href="{:U('index')}" class="btn btn-default">取消</a>
					  <button type="submit" class="btn btn-primary">保存</button>
					</div>
				  </div>
		  </form>
		</div>
	</div>
</div>
