<script style="text/javascript">
	//删除方法单个
	function ajax_drop() {
		var ids = $(this).attr('val');
		var url = "{:U('drop')}";
		if(!confirm('确认执行这个操作吗?')){
			return false;
		}
		sj.ajax_delete(url, ids, 'asset', 1);
	}

	//删除多个
	function ajax_drop_multiple() {
		var ids = sj.ckbox_record("input:checkbox[name='checkbox']");
		if(ids != ''){
			if(!confirm("确定要删除选中的内容吗？")){
				return false;
			}
			var url = "{:U('drop')}";
			sj.ajax_delete(url, ids, 'asset', 1);
		}else{
			alert("请选择要删除的内容！");
		}
	}

</script>

<div class="row">
	<div class="col-xs-2">
		<include file="Base/_left_nav" />
	</div>
	<div class="col-xs-10">
		<include file="_toolbar" />

		<div class="guide-box">
			<include file="Base/_select_box" />
			<div class="right_operation clearfix">
				<div class="operate_box clearfix">
					<a href="#ajax_drop_multiple" class="ajax-hash">删除</a>
				</div>
			</div>

			<table class="table table-striped">
			  <thead>
				<tr>
				  <th></th>
				  <th>ID:</th>
				  <th>名称:</th>
				  <th>缩略图:</th>
				  <th>关联ID:</th>
				  <th>关联类型:</th>
				  <th>类型:</th>
				  <th>状态:</th>
				  <th>创建时间:</th>
				  <th>操作:</th>
				</tr>
			  </thead>
			  <tbody id="user_list">
				<foreach name='assets' key='k' item='v'>
					<tr id="asset_box_{$v.id}">
					  <td><input type="checkbox" name="checkbox" value="{$v.id}"></td>
					  <td>{$v.id}</td>
					  <td><a href="#">{$v.name|msubstr=###,0,12,'utf-8',true}</a></td>
					  <td><img width="100" src="__UPLOAD__{:$v['file_path'].$v['file_name']}" /></td>
					  <td>{$v.relateable_id}</td>
					  <td>{$v.relateable_type}</td>
					  <td>{$v.format_type}</td>
					  <td>{$v['state']==0 ? '禁用' : '正常'}</td>
					  <td>{$v['created_on']|date='Y-m-d', ###}</td>
					  <td><a href="#ajax_drop" class="ajax-hash" val="{$v.id}">删除</a></td>
					</tr>
				</foreach>
			  </tbody>
			</table>
			<div>
				<ul class="pagination">{$page}</ul>
			</div>
		</div>
	</div>
</div>
