<!--局部内容-->
<div class="clearfix pt-40">
	<!--局部左侧内容-->
	<div class="span-online-left">
		<!--局部左侧链接内容-->
		<div class="pl-20">
			<h5 class="m-0 c-hong mb-20">评委专区</h5>
		</div>
		<!--局部左侧链接内容结束-->
		<!--局部左侧图片内容-->
		<div class="online-left-img"><img src="__PUBLIC__/images/pszq-1.png" alt=""></div>
		<!--局部左侧链接内容结束-->
	</div>
	<!--局部居中内容-->
	<div class="span-online-center">
		<div class="sj-lunbo">
			<div class="w-452 center-block">
				<h4 class="text-left mb-30">预审办法</h4>
				<!--局部居中十佳简介内容-->
				<div class="center-block clearfix">
					<span class="ps-bf clearfix">
						<p>1 选择类别</p>
						<p>2 浏览信息</p>
						<p>3 确认名单</p>
					</span>
				</div>
				<div class="sj-bor-bott"></div>
				<div class="lh-25 pl-10">
					<p class="lh-25">一、选择类别</p>
					<p class="lh-25 text-2in">请选择您所评审的奖项类别；</p>
					<p class="lh-25">二、浏览预审</p>
					<p class="lh-25 text-2in">查看申报资料基础信息，根据《预审标准》优选十名预审入围单位或个人；</p>
					<p class="lh-25">三、确认名单</p>
					<p class="lh-25 text-2in">确认预审入围名单并提交，以便初评现场筛选讨论。</p>
					
				</div>
				<div class="text-center">
					<a class="btn btn-danger w-90" href="{:U('home/rater/chose_prize')}">下一步</a>
				</div>
			</div>
			</div>
		</div>
		<include file="Base/right" />
	</div>
</div>
<!--局部内容结束-->
