<div class="clearfix pt-40">
	<!--局部居中登录列表内容-->
	<div class="w-350 center-block">
		<form action="{:U('resend')}" class="form-horizontal" role="form" method="post">
		  <div class="form-group">
		    <label for="inputEmail3" class="c-huihui col-xs-3 control-label">找回邮箱</label>
		    <div class="col-xs-9">
		      <input type="email" class="form-control" id="inputEmail3" name="email">
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-3 col-xs-9">
		      <button type="submit" class="btn btn-danger w-90">提交</button>
		    </div>
		  </div>
		</form>
	</div>
	<!--局部居中登录列表内容结束-->
</div>
