<script type="text/javascript">

	$(function(){
		// validate signup form on keyup and submit
		$("#validate_form").validate({
			ignore: "",
			rules: {
				name: {
					required: true,
					rangelength: [4, 50]
				},
				web_url: {
					required: true,
					url: true
				},
				province: {
					required: true
				},
				scope: {
					required: true,
					maxlength: 300
				},
				founded: {
					required: true
				},
				legal_preson: {
					required: true
				},
				staff_count: {
					required: true
				},
				design_count: {
					required: true
				},
				head_preson: {
					required: true
				},
				total_assets: {
					required: true
				},
				annual_revenue: {
					required: true
				},
				rd_put: {
					required: true
				},
				id_put: {
					required: true
				},
				promise_checkbox: {
					required: true
				}
			},
			messages: {
				name: {
					required: "* 请输入企业名称",
					rangelength: "* 长度不能少于{0}大于{1}个字符"
				},
				web_url: {
					required: "* 请输入网址",
					url: '* 请输入正确格式的网址'
				},
				province: {
					required: "* 请选择所在地"
				},
				scope: {
					required: "* 请输入业务范围",
					maxlength: "* 不大于{0}个字"
				},
				founded: {
					required: "* 请选择成立时间",
				},
				legal_preson: {
					required: "* 不能为空",
				},
				staff_count: {
					required: "* 不能为空",
				},
				design_count: {
					required: "* 不能为空"
				},
				head_preson: {
					required: "* 不能为空"		  
				},
				total_assets: {
					required: "* 不能为空"		  
				},
				annual_revenue: {
					required: "* 不能为空"		  
				},
				rd_put: {
					required: "* 不能为空"
				},
				id_put: {
					required: "* 不能为空"
				},
				promise_checkbox: {
					required: " <b>*您确认阅读并同意我们的条款?</b>"
				}
			},
			errorPlacement: function (error, element) { //指定错误信息位置
				if (element.is(':radio') || element.is(':checkbox')) { //如果是radio或checkbox
					var eid = element.attr('name'); //获取元素的name属性
					error.appendTo(element.parent()); //将错误信息添加当前元素的父结点后面
				} else {
					error.insertAfter(element);
				}
			}

		});

	})

</script>

<div class="form-group">
<label for="" class="c-huihui col-xs-3 text-left control-label">企业名称</label>
	<div class="col-xs-9">
	  <input type="text" name="name" value="{$material['name']}" class="form-control">
	</div>
</div>
<div class="form-group">
<label for="" class="c-huihui col-xs-3 text-left control-label">所在地区</label>
	<div class="col-xs-4">
	  <select name="province" class="form-control dropdown">
			<option value="" class="label">--请选择--</option>
			<volist name=":city_options()" id="city">
				<if condition="$city['id'] eq $material['province']">
					<option value="{$city['id']}" selected>{$city['name']}</option>
				<else />
					<option value="{$city['id']}">{$city['name']}</option>
				</if>
			</volist>
	  </select>
	</div>
	<div class="col-xs-5" id="city_box">
	  <select name="city" class="form-control dropdown">
			<option value="0" class="label">--不限--</option>
	  </select>
	</div>
</div>
<div class="form-group">
<label for="" class="c-huihui col-xs-3 text-left control-label">业务范围</label>
	<div class="col-xs-9">
	  <input type="text" name="scope" value="{$material['scope']}" class="form-control">
	</div>
</div>
<div class="form-group">
<label for="" class="c-huihui col-xs-3 text-left control-label">所有制性质</label>
	<div class="col-xs-9">
	  <select name="nature" class="form-control dropdown">
			<option value="0" class="label">其它性质</option>
			<volist name=":nature_options()" id="nature">
			<if condition="$nature['id'] eq $material['nature']">
				<option value="{$nature['id']}" selected>{$nature['name']}</option>
			<else />
				<option value="{$nature['id']}">{$nature['name']}</option>
			</if>
			</volist>
	  </select>
	</div>
</div>
<div class="form-group">
<label for="" class="c-huihui col-xs-3 text-left control-label">网址</label>
	<div class="col-xs-9">
	  <input type="text" name="web_url" value="{$material['web_url']|default='http://'}" placeholder="http://" class="form-control">
	</div>
</div>
<div class="form-group">
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-6 p-0">
					<label for="" class="c-huihui col-xs-7 pr-30 text-left control-label">法定代表人</label>
				    <div class="col-xs-5 p-0">
				      <input type="text" name="legal_preson" value="{$material['legal_preson']}" class="form-control">
				    </div>
				</div>
				<div class="col-xs-6">
					<label for="" class="c-huihui col-xs-5 control-label">成立时间</label>
					<div class="input-group date form_date col-md-6" data-link-field="founded" data-link-format="yyyy-mm-dd">
						<empty name="$material['founded']">
						<input class="form-control" size="16" type="text" value="{$material['founded']}" readonly>
						<else />
						<input class="form-control" size="16" type="text" value="" readonly>
						</empty>
						<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
					</div>
					<input type="hidden" name="founded" id="founded" value="{$material['founded']}" />
				</div>
			</div>
		</div>
	</div>
</div>
<div class="form-group">
<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-6 p-0">
				<label for="" class="c-huihui col-xs-7 pr-30 text-left control-label">设计总监</label>
			    <div class="col-xs-5 p-0">
			      <input type="text" name="head_preson" value="{$material['head_preson']}" class="form-control">
			    </div>
			</div>
			<div class="col-xs-6">
				<label for="" class="c-huihui col-xs-5 control-label">职工总数</label>
			    <div class="col-xs-6 p-0">
			      <input type="text" name="staff_count" value="{$material['staff_count']}" class="form-control">
			    </div>
			</div>
		</div>
	</div>
</div>
</div>
<div class="form-group">
<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-6 p-0">
				<label for="" class="c-huihui col-xs-7 pr-30 text-left control-label">设计师人数</label>
			    <div class="col-xs-5 p-0">
			      <input type="text" name="design_count" value="{$material['design_count']}" class="form-control">
			    </div>
			</div>
		</div>
	</div>
</div>
</div>
<div class="form-group">
<label for="inputEmail3" class="c-huihui col-xs-9 p-0 text-left control-label">企业LOGO（文件大小不大于512k,尺寸为125x55px，jpg格式）</label>
	<div class="col-xs-3">
		<div id="upload_cover" class="btn btn-success btn-block">
		<span></span>
		</div>
	    <div id="show_cover">
		<if condition="empty($material['avatar'])">
		<else />
		  <img class="sj-images" src="__UPLOAD__{:$material['avatar']['file_path'].$material['avatar']['file_name']}" width="100%" />
		</if>
		</div>
			<p>
				<span id="tip" class="help-block">请选择图片</span>
			</p>
	</div>
</div>
<div class="form-group">
<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-6 p-0">
				<label for="" class="c-huihui p-0 pr-30 col-xs-7 text-left control-label">资产总额（万元）</label>
			    <div class="col-xs-5 p-0">
			      <input type="text" name="total_assets" value="{$material['total_assets']}" class="form-control">
			    </div>
			</div>
			<div class="col-xs-6">
				<label for="" class="c-huihui p-0 col-xs-7 control-label">年营业额（万元）</label>
			    <div class="col-xs-5">
			      <input type="text" name="annual_revenue" value="{$material['annual_revenue']}" class="form-control">
			    </div>
			</div>
		</div>
	</div>
</div>
</div>
<div class="form-group">
<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-6 p-0">
				<label for="" class="c-huihui p-0 pr-30 col-xs-7 text-left control-label">工业设计服务收入（万元）</label>
			    <div class="col-xs-5 p-0">
			      <input type="text" name="rd_put" value="{$material['rd_put']}" class="form-control">
			    </div>
			</div>
			<div class="col-xs-6">
				<label for="" class="c-huihui p-0 col-xs-7 control-label">工业设计服务项目（个）</label>
			    <div class="col-xs-5">
			      <input type="text" name="id_put" value="{$material['id_put']}" class="form-control">
			    </div>
			</div>
		</div>
	</div>
</div>
</div>
<div class="form-group">
	<div class="col-xs-12">
		<a>注：所有网页内容均为必填项.效益数据按2013年度企业效益填写。</a>
	</div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-xs-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="promise_checkbox"> 我已经阅读并同意《<a href="#myModal" data-toggle="modal">承诺书</a>》
        </label>
      </div>
    </div>
</div>
		<!--承诺书的框-->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">承诺书</h4>
		      </div>
		      <div class="modal-body">
				  <p class="text-2in lh-20">
						本企业同意遵守中国工业设计十佳大奖评选活动的相关规定，自愿参加年度中国工业设计十佳大奖评选活动。  
				  </p>
				  <p class="text-2in lh-20">
					本企业承诺所有申报材料均属实、准确、合法、有效，且不存在侵犯他人知识产权等违法违规情形，若出现问题，愿承担一切责任。 
				  </p>
				  <p class="text-2in lh-20">
					本企业自愿提供年度中国工业设计十佳大奖审查所需的数据资料，并为考察等相关工作提供方便。
				  </p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">已阅读</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		<!--承诺书的框结束-->
