<script type="text/javascript">

	$(function(){
		// validate signup form on keyup and submit
		$("#validate_major").validate({
			ignore: "",
			rules: {
				description: {
					required: true,
					maxlength: 300
				},
				content: {
					required: true,
					maxlength: 300
				},
				fruit: {
					required: true,
					maxlength: 300
				},
			},
			messages: {
				description: {
					required: "* 请输入个人履历",
					maxlength: "* 不大于{0}个字"
				},
				content: {
					required: "* 请输入设计理念及观点",
					maxlength: "* 不大于{0}个字"
				},
				fruit: {
					required: "* 请输入重点设计创新成果",
					maxlength: "* 不大于{0}个字"
				},
			}

		});

	})

</script>
<div class="form-group mb-30">
    <div class="col-xs-12">
    	<p class="c-huihui w-500">个人履历（教育履历、工作履历、主要社会兼职、所获荣誉等，限300字）</p>
		<textarea name="description" class="form-control" id="" cols="30" rows="4">{$material['description']}</textarea>
    </div>
</div>
<div class="form-group mb-30">
    <div class="col-xs-12">
    	<p class="c-huihui">设计理念及观点（简述个人设计创新的理念及观点，300字以内）</p>
		<textarea name="content" class="form-control" id="" cols="30" rows="4">{$material['content']}</textarea>
    </div>
</div>
<div class="form-group mb-30">
    <div class="col-xs-12">
    	<p class="c-huihui">重点设计创新成果（重点设计项目、论文或著作、所获国内外设计奖项等，300字以内）</p>
		<textarea name="fruit" class="form-control" id="" cols="30" rows="4">{$material['fruit']}</textarea>
    </div>
</div>
