<script src="__PUBLIC__/plug/jquery.validate.min.js"></script>
	<!--局部内容-->
	<div class="clearfix pt-40">
		<!--局部左侧内容-->
		<div class="span-online-left">
			<!--局部左侧链接内容-->
			<div class="pl-20">
				<h5 class="m-0 c-hong mb-20">在线报名</h5>
			</div>
			<!--局部左侧链接内容结束-->
			<!--局部左侧图片内容-->
			<div class="online-left-img"><img src="__PUBLIC__/images/online-leftimg.png" alt=""></div>
			<!--局部左侧链接内容结束-->
		</div>
		<!--局部居中内容-->
		<div class="span-online-center">
			<div class="sj-lunbo">
				<!--局部居中面包屑导航内容-->
				<div class="nav-mbx mb-50">
					<a class="nav-mbx-a nav-mbx-first">1 登录注册</a>
					<a class="nav-mbx-a">2 申请奖项选择</a>
					<a class="nav-mbx-a current">3 基础信息填写</a>
					<a class="nav-mbx-a">4 文件下载</a>
				</div>
				<!--局部居中面包屑导航内容结束-->
				<!--局部居中基本信息2列表内容-->
				<div class="sj-jbxx2">
					<p class="c-huihui mb-30">{:system_value('current_year')}年度中国工业设计{$prize|prize_name}基础信息填写：</p>
					<form action="{:U('home/material/contact')}" class="form-horizontal" id="validate_major" role="form" method="post">
						<input type="hidden" name="prize_id" value="{$prize}" />
						<input type="hidden" name="material_id" value="{$material_id}" />
							<if condition="$prize == 1">
								<include file="major_educate" />
							<elseif condition="$prize == 2"/>
								<include file="major_elite" />
							<elseif condition="$prize == 3"/>
								<include file="major_designer" />
							<elseif condition="$prize == 4"/>
								<include file="major_company" />
							<elseif condition="$prize == 5"/>
								<include file="major_firm" />
							</if>
					<div class="form-group mb-30">
						    <div class="col-sm-offset-3 col-xs-8">
						      <a href="{:U('home/material/info',array('m_id'=>$material_id))}" class="btn btn-danger w-90">上一页</a>
							  <input type="submit" class="btn btn-danger w-90" name="submit" value="下一页" />
						    </div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<include file="Base/right" />
	</div>
</div>
<!--局部内容结束-->
