<!--header头部结束-->
<!--局部内容-->
<div class="clearfix pt-40">
	<!--局部左侧内容-->
	<div class="span-online-left">
		<!--局部左侧链接内容-->
		<div class="pl-20">
			<h5 class="m-0 c-hong mb-20">在线报名</h5>
		</div>
		<!--局部左侧链接内容结束-->
		<!--局部左侧图片内容-->
		<div class="online-left-img"><img src="__PUBLIC__/images/online-leftimg.png" alt=""></div>
		<!--局部左侧链接内容结束-->
	</div>
	<!--局部居中内容-->
	<div class="span-online-center">
		<div class="sj-lunbo">
			<!--局部居中面包屑导航内容-->
			<div class="nav-mbx mb-50">
				<a href="" class="nav-mbx-a nav-mbx-first">1 登录注册</a>
				<a href="" class="nav-mbx-a current">2 申请奖项选择</a>
				<a href="" class="nav-mbx-a">3 基础信息填写</a>
				<a href="" class="nav-mbx-a">4 文件下载</a>
			</div>
			<!--局部居中面包屑导航内容结束-->
			<!--局部居中申请列表内容-->
			<div class="w-350 center-block">
				<h4 class="text-center m-0 mb-50">{:system_value('current_year')}年度中国工业设计十佳奖项</h4>
				<volist name=":prize_options()" id="prize">
				<a href="{:U('home/material/info', array('prize_id'=>$prize['id']))}" class="online-sq-a">{$prize['name']}</a>
				</volist>
			</div>
			<!--局部居中申请列表内容结束-->
			</div>
		</div>
		<include file="Base/right" />
	</div>
</div>
<!--局部内容结束-->
