<div class="list-group clearfix">
	<div class="btn-group">
		<a href="{:U('index')}" class="btn btn-default {:action()=='index' ? 'active':''}">全部</a>
	</div>
	<div class="btn-group">
		<a href="{:U('rater_list')}" class="btn btn-default {:action()=='rater_list' ? 'active':''}">评委</a>
	</div>
	<div class="btn-group">
		<a href="{:U('edit_list')}" class="btn btn-default {:action()=='edit_list' ? 'active':''}">编辑</a>
	</div>
	<div class="btn-group">
		<a href="{:U('admin_list')}" class="btn btn-default {:action()=='admin_list' ? 'active':''}">管理员</a>
	</div>
</div>
