<!--局部内容-->
<div class="clearfix pt-40">
	<!--局部左侧内容-->
	<div class="span-online-left">
		<!--局部左侧链接内容-->
		<div class="pl-20">
			<h5 class="m-0 c-hong mb-20">推广提升</h5>
		</div>
		<!--局部左侧链接内容结束-->
		<!--局部左侧图片内容-->
		<div class="online-left-img"><img src="__PUBLIC__/images/tuiguang-leftimg.png" alt=""></div>
		<!--局部左侧链接内容结束-->
	</div>
	<!--局部居中内容-->
	<div class="w-800 pull-left clearfix">
		<div class="w-700 center-block">
			<!--局部居中新闻列表内容-->
				<h4 class="m-0">{$post.title}</h4>
				<div class="sj-bor-bott"></div>
				<div class="lh-30">{$post.content|html_entity_decode}</div>
			<!--局部居中新闻列表内容结束-->
			<!--局部居中分页内容-->

			<!--局部居中分页内容结束-->
		</div>
	</div>
</div>
<!--局部内容结束-->
